.buy-container {
    width: 500px;
    height: 230px;
    position: absolute;
    border: 2px solid green ;
    left: 1300px;
    top: 330px;
    overflow: hidden;
    overflow-y: hidden;
    border-radius: 10px;
}

.money-counter {
    position: absolute;
    left: 20px;
    top: 20px;
    font-size: 2rem;
    color: rgb(202, 202, 202);
}

.new-pack {
    position: absolute;
    width: 140px;
    top: 100px;
    left: 50%;
    transform: translate(-50%);
}

.new-pack button {
    width: 140px;
    height: 50px;
    cursor: pointer;
    font-size: 17px;
    background-color: inherit;
    color: rgb(202, 202, 202);
    border-radius: 15px;
    border: 3px solid rgb(0, 209, 35);
}

.new-pack button:hover {
    border: 3px solid rgb(0, 138, 23);
}

.new-pack p {
    margin-top: 10px;
    text-align: center;
    font-size: 1.2rem;
    color: rgb(202, 202, 202);
}

.new-player-container {
    position: relative;
    top: 220px;
    cursor: move;
}
.new-player-container img{
    position: absolute;
    width: 250px;
    left: 50%;
    transform: translate(-50%);
}

.new-player-name {
    position: absolute;
    font-size: 1.3rem;
    top: 35px;
    width: 500px;
    text-align: center;
    color: rgb(70, 70, 70);
}

.new-player-rating {
    position: absolute;
    font-size: 3rem;
    top: 90px;
    width: 500px;
    text-align: center;
    color: rgb(70, 70, 70);
}

.new-player-country {
    position: absolute;
    font-size: 1.3rem;
    top: 170px;
    width: 500px;
    text-align: center;
    color: rgb(70, 70, 70);
}

.new-player-position {
    position: absolute;
    top: 220px;
    font-size: 1.4rem;
    text-align: center;
    left: 50%;
    transform: translate(-50%);
    padding: 3px;
    border-radius: 30%;
    background-color: rgb(179, 241, 179);
    border: 1px solid;
    width: 60px;
    color: rgb(70, 70, 70);
}

.new-player-arrows {
    position: absolute;
    bottom: 25px;
    font-size: 2.5rem;
    width: 220px;
    display: flex;
    justify-content: space-evenly;
    left: 60%;
    transform: translate(-50%);
    color: rgb(202, 202, 202);
    visibility: hidden;
}

.new-player-arrows i {
    cursor: pointer;
    margin: 0px 10px;
}

.new-player-arrows i:hover {
    color: rgba(150, 150, 150, 0.61);
}

.npc-0 {
    visibility: visible;
}

.npc-1 {
    visibility: hidden;
}


