.player-container {
    position: absolute;
    min-width: 140px;
    min-height: 140px;
    max-width: 140px;
    max-height: 140px;
    display: inline-block;
}

.pc-0 {
    top: 450px;
    left: 30px;
}

.pc-1 {
    top: 153px;
    left: 250px;
}

.pc-2 {
    top: 320px;
    left: 200px;
}

.pc-3 {
    top: 585px;
    left: 200px;
}

.pc-4 {
    top: 755px;
    left: 250px;
}

.pc-5 {
    top: 220px;
    left: 600px;
}

.pc-6 {
    top: 450px;
    left: 520px;
}

.pc-7 {
    top: 690px;
    left: 600px;
}

.pc-8 {
    top: 170px;
    left: 950px;
}

.pc-9 {
    top: 450px;
    left: 900px;
}

.pc-10 {
    top: 740px;
    left: 950px;
}


.player-name, .player-rating, .player-country, .player-position {
    color: rgb(70, 70, 70);
    z-index: 2;
    font-size: 0.8rem;
    position: absolute;
}

.player-name {
    top: 30%; 
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 0.9rem;
    text-align: center;
}

.player-rating {
    top: 57%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1.5rem;
}

.player-country {
    top: 77%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    text-align: center;
}

.player-position {
    top: 100%;
    transform: translate(-50%, -50%);
    font-size: 1rem;
    text-align: center;
    left: 50%;
    padding: 3px;
    border-radius: 30%;
    background-color: rgb(179, 241, 179);
    border: 1px solid;
}
